<div class="data-container" id="powerDataTable">
    <div class="data-box">
        <i class="fas fa-vector-square"></i>
        <span class="is-size-6-desktop is-size-7-mobile">&Aacute;rea total</span>
        <span class="is-pulled-right is-size-7 r-side">m2</span>
        <span data-field="areatotal" class="is-pulled-right is-size-6-mobile">{areatotal}</span>
    </div>
    <div class="data-box">
        <i class="fas fa-ruler-combined"></i>
        <span class="is-size-6-desktop is-size-7-mobile">&Aacute;rea &uacute;til</span>
        <span class="is-pulled-right is-size-7 r-side">m2</span>
        <span data-field="area_3kwh" class="is-pulled-right is-size-6-mobile">{area_3kwh}</span>
    </div>
    <div class="data-box">
        <i class="fas fa-solar-panel"></i>
        <span class="is-size-6-desktop is-size-7-mobile">N&uacute;mero de placas</span>
        <span class="is-pulled-right is-size-7 r-side">Uds.</span>
        <span data-field="numplacas" class="is-pulled-right is-size-6-mobile">{numplacas}</span>
    </div>
    <div class="data-box">
        <i class="fas fa-pencil-ruler"></i>
        <span class="is-size-6-desktop is-size-7-mobile">&Aacute;rea ocupada por las placas</span>
        <span class="is-pulled-right is-size-7 r-side">m2</span>
        <span data-field="areaplacas" class="is-pulled-right is-size-6-mobile">{areaplacas}</span>
    </div>
    <div class="data-box">
        <i class="fas fa-sun"></i>
        <span class="is-size-6-desktop is-size-7-mobile">Potencia Anual</span>
        <span class="is-pulled-right is-size-7 r-side">kW</span>
        <span data-field="potany" class="is-pulled-right is-size-6-mobile">{potany}</span>
    </div>
    <div class="data-box">
        <i class="fas fa-bolt"></i>
        <span class="is-size-6-desktop is-size-7-mobile">Potencia producida</span>
        <span class="is-pulled-right is-size-7 r-side">kWh</span>
        <span data-field="potcubplana" class="is-pulled-right is-size-6-mobile">{potcubplana}</span>
    </div>
    <div class="data-box">
        <i class="fas fa-smog"></i>
        <span class="is-size-6-desktop is-size-7-mobile">Emisiones evitadas</span>
        <span class="is-pulled-right is-size-7 r-side">tCO2ep</span>
        <span data-field="tco2evitany" class="is-pulled-right is-size-6-mobile">{tco2evitany}</span>
    </div>
    <div class="data-box">
        <i class="fas fa-euro-sign"></i>
        <span class="is-size-6-desktop is-size-7-mobile">Posible coste de instalaci&oacute;n</span>
        <span class="is-pulled-right is-size-7 r-side">Eur</span>
        <span data-field="costeinstala" class="is-pulled-right is-size-6-mobile">{costeinstala}</span>
    </div>
    <div class="data-box">
        <i class="fas fa-charging-station"></i>
        <span class="is-size-6-desktop is-size-7-mobile">Potencial ahorro anual</span>
        <span class="is-pulled-right is-size-7 r-side">kW</span>
        <span data-field="ahorroany" class="is-pulled-right is-size-6-mobile">{ahorroany}</span>
    </div>
    <div class="data-box">
        <i class="fas fa-piggy-bank"></i>
        <span class="is-size-6-desktop is-size-7-mobile">Amortizaci&oacute;n sin ayudas</span>
        <span class="is-pulled-right is-size-7 r-side">Eur</span>
        <span data-field="anyamortiza" class="is-pulled-right is-size-6-mobile">{anyamortiza}</span>
    </div>
</div>
<div class="is-hidden" id="advertisment">
    <div>El &aacute;rea selecionada produce una potencia inferior a 3kWh.</div>
    <div>Debe consultar con un profesional para obtener m&aacute;s informaci&oacute;n</div>
</div>